{% extends 'base.html' %}
{% block title %}View{% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">View</button>
  </form>
  {% if found %}
  {{git_username}} has an existing account on github.
  <ol>
  {% for key in repo %}
  <li>Name :<a href="repo/{{key.0}}">{{key.0}}</a><br>Language of the repository is {{key.1}}</li>
  {% empty %}
  <li>Sorry,{{git_username }} has no repositories.</li>
  {% endfor %}
</ol>
{% elif notfound %}
{{git_username}} does not exist.
{% endif %}
{% endblock %}